{%extends 'base.html'%}
{% load crispy_forms_tags %}


{%block content%}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 class="text-center m-4">Neighbourhoods</h1>
            {%if neighbourhoods%}
            {%for neighbourhood in neighbourhoods%}
            <div class="card text-center m-3" >
                <div class="card-body">
                  <h5 class="card-title">{{neighbourhood.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{neighbourhood.location}}</h6><hr>
                  <a href="{%url 'single_neighbourhood' id=neighbourhood.id%}" class="card-link">View More</a>
                </div>
            </div>
            {%endfor%}
            {%else%}
            <div class="card text-center m-3">
                <div class="card-body">
                  <h5 class="card-title">No Neighbourhoods Yet</h5>
                  <a href="{%url 'create_neighbourhood'%}" class="btn btn-primary">Add Neighbourhood</a>
                </div>
            </div>
            {%endif%}
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{%endblock%}
