{%extends 'base.html'%}
{% load crispy_forms_tags %}

{%block content%}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card mb-3">
                {% if profile.profile_photo %}
                <img src="{{ profile.profile_photo.url }}" alt="Profile Photo" class="rounded-circle" width="100"
                    height="100" />
                {%else%}
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                    alt="Profile Photo" class=" rounded-circle" width="100" height="100" />
                {%endif%}
                <div class="card-body">
                    <h5 class="card-title"><strong>@{{profile.profile_user.username}}</strong></h5>
                    <p class="card-text"><strong>First Name: </strong>{{profile.profile_user.first_name}}</p>
                    <p class="card-text"><strong>Last Name: </strong>{{profile.profile_user.last_name}}</p>
                    <p class="card-text"><strong>Email Address: </strong>{{profile.email}}</p>
                    <p class="card-text"><strong>Neighbourhood: </strong>{{profile.neighbourhood.name}}</p>
                    {%if profile.id == request.user.id%}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Update Account Details</button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Update Form</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <form method="POST" class="form-group" enctype="multipart/form-data">
                                                <div class="form-group"></div>
                                                {% csrf_token %}
                                                {{ user_form|crispy }}
                                                <hr>
                                                {{profile_form|crispy}}
                                                <button type="submit" class="btn btn-success">Save Changes</button>
                                                <button type="reset" class="btn btn-danger">Reset</button>
                                            </form>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%else%}
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{%endblock%}