{%extends 'base.html'%}
{% load crispy_forms_tags %}

{%block content%}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card text-center mt-5">
                <div class="card-body">
                    <h1 class="card-title">{{neighbourhood.name}}</h1>
                    <hr>
                    <h4 class="card-subtitle mb-2 text-muted">You can join this neighbourhood and view all its details
                        when you move by updating your neighbourhood in your<a
                            href="{%url 'profile' id=request.user.id%}"> Profile</a>.
                    </h4>
                </div>
            </div>
            <div class="card text-center ">
                <div class="card-body">
                    <p class="card-text"><strong>General Location: </strong>{{neighbourhood.location}}</p><br>
                    <p class="card-text"><strong>Number of Occupants: </strong>{{occupants}}</p><br>
                    <p class="card-text"><strong>Health Department Contact: </strong>{{neighbourhood.health_dept}}</p>
                    <br>
                    <p class="card-text"><strong>Police Department Contact: </strong>{{neighbourhood.police_dept}}</p>
                    <br>
                    <div class="d-flex justify-content-around">
                        {%if neighbourhood.admin.id == request.user.id%}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Update NeighbourHood Details</button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Update Form</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-8">
                                                <form method="POST" class="form-group" ">
                                                    <div class="form-group"></div>
                                                    {% csrf_token %}
                                                    {{form|crispy}}
                                                    <button type="submit" class="btn btn-success">Save Changes</button>
                                                    <button type="reset" class="btn btn-danger">Reset</button>
                                                </form>
                                            </div>
                                            <div class="col-sm-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%else%}
                        {%endif%}
                        <a class="btn btn-danger" href="{%url 'delete_neighbourhood' id=neighbourhood.id%}" role="button">Delete NeighbourHood</a>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{%endblock%}